<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blessing Verse</title>
    <style>
        
.container {
    position: relative;
    text-align: center;
    color:red;
    font-family: calibri,sans-serif;
    font-weight: bold;
  }
  
  .top-center {
    position: absolute;
    top: 8px;
    right: 50%;
  }
    </style>
</head>

<body>
    {{{body}}}
    <script src="static/js/verse.js"></script>
</body>

</html>