<div class="container-lg mt-1">
    <h1>About Us</h1>
    <p class="mt-1">On New Year's Eve of 2021, the COVID pandemic threatened the Christian believers to go and gather in churches physically. </p>
    <p>However, Believers are always known to find ways to worship God even in tough times.</p>
    <p>To ensure that everyone could still receive a New Year's promise verse, we created an online Bible verse generator that brought hope and encouragement to believers around the world.</p>
    <p>As we approach a New Year, there remain countless individuals who cannot attend church in person or receive a promise verse for the new year. We invite you to discover your blessing verse for the new year here and share it with others who may need its encouragement.</p>
    <p>The site remembers your verse during your current browser session, so you'll receive the same meaningful verse each time you return.</p>
    <h4>May you have a joyful and blessed New Year.</h4>
    <h4></h4>
</div>
<div class="conatiner-sm text-center mt-2">
    <h1>Website Developed By :</h1>

    <div class="row mt-1 text-center">
        <div class="col">
            <h6>Web Developer</h6>
            <p>Jaison Varghese</p>
        </div>
        <div class="col">
            <h6>Web Developer</h6>
            <p>Jobin Thavu Varghese</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h6>Verses Compiled by</h6>
            <p>Ancy Jaison</p>
        </div>
        <div class="col">
            <h6>Idea Brainchild</h6>
            <p>Achsah Abraham</p>
        </div>
    </div>
</div>
