<div class="container-lg mt-1">
    <h1>About Us</h1>
    <p class="mt-1">The new year is soon approaching. However, the COVID pandemic continues to threaten the gatherings of
        believers in churches</p>
    <p>Believers are always known to find ways to worship God even in tough times.</p>
    <p>In order that each of you still receive the new year promise verse, we have created an online New year bible verse
        generator</p>
    <p>The site remembers the person's verse in the current browser session so he/she will always get the same verse
        inspite of opening the link multiple times.
        Feel free to share this site with anyone. May you have a Happy and blessed New Year 2021</p>
</div>
<div class="conatiner-sm text-center mt-2">
    <h1>Website Developed By :</h1>

    <div class="row mt-1 text-center">
        <div class="col">
            <h6>Web Developer</h6>
            <p>Jaison Varghese</p>
        </div>
        <div class="col">
            <h6>Web Developer</h6>
            <p>Jobin Thavu Varghese</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h6>Verses Compiled by</h6>
            <p>Ancy Jaison</p>
        </div>
        <div class="col">
            <h6>Idea Brainchild</h6>
            <p>Achsah Abraham</p>
        </div>
    </div>
</div>