<div class="container-lg mt-5">
    <h1>About Us</h1>
    <p class="mt-4">The new year is soon approaching however, COVID pandemic continues to threaten the gatherings of believers in
        churches</p>
    <p>Believers have always know to find ways to worship God even in tough times.</p>
    <p>Inorder that each of you still receive the new year promise verse, we have created an online New year bible verse
        generator</p>
    <p>Inorder that each of you still receive the new year promise verse, we have created an online New year bible verse
        generator</p>
    <p>The site remembers the person's verse in the current browser session so he/she will always get the same verse
        when opening the link multiple times.
        Feel free to share this site with anyone.</p>
</div>
<div class="conatiner-sm text-center mt-5">
    <h1>Website Developed By</h1>

    <div class="row mt-5 text-center">
        <div class="col">
            <h6>Web Developer</h6>
            <p>Jaison Varghese</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h6>Verses Database Compiler</h6>
            <p>Ancy Jaison</p>
        </div>
        <div class="col">
            <h6>Idea brain child</h6>
            <p>Achsah Abraham</p>
        </div>
    </div>
</div>