<div class="main-heading text-center">
    Your manna Bible verse for the New Year 2021
</div>
<div class="button-click text-center">
    <button class="btn btn-outline-primary" onclick="scribble()"> Click Here</button>
</div>
<div>
    <canvas id="woodcut" width="1000" height="100%" class="text-center">
        This text shows up if the canvas element is not supported
    </canvas>
</div>