<div class="main-heading text-center">
    Your Word of God for the New Year 2021
</div>
<div class="button-click text-center">
    <button class="btn btn-outline-primary" onclick="getVerse()"> Click Here</button>
</div>

<div class="button-click text-center">
    <button class="btn btn-outline-primary" onclick="deleteCookie()"> Delete my cookie and Get a new verse (Testing only)</button>
</div>
<div>
    <canvas id="woodcut" width="1000" height="100%" class="text-center">
        This text shows up if the canvas element is not supported
    </canvas>
</div>