<div class="main-heading text-center">
    My Word of God for the New Year 2021
</div>
<div class="button-click text-center">
    <button class="btn btn-outline-primary" onclick="getVerse()"> Click Here</button>
</div>
<div>
    <canvas id="woodcut" width="1000" height="100%" class="text-center">
        This text shows up if the canvas element is not supported
    </canvas>
</div>
<div class="button-click text-center">
    <button class="btn btn-outline-primary" onclick="deleteCookie()"> Delete my cookie to Get a new verse (Testing only)</button>
</div> <br/>
<div style="text-align: center;">
  <img src="static/img/newYear.gif" alt="newYear" style="width:80%;">
  {{!-- <img src="static/img/newYear2.gif" alt="newYear" style="width:50%;"> --}}
</div>
