#main-heading{
    
}     
.container {
    position: relative;
    text-align: center;
    color:black;
    font-family: calibri,sans-serif;
    font-weight: bolder;
    font-size: 30px;
    visibility: hidden;
  }
  
  .top-center {
    position: absolute;
    top: 20%;
    right: 44%;
  }