.main-heading {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 50px;
}
body {
  background-color: #82deff;
}
.container {
  position: relative;
  text-align: center;
  color: black;
  font-family: calibri, sans-serif;
  font-weight: bolder;
  font-size: 5vw;
  visibility: hidden;
}

.top-center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer{
  text-align: center;
  background-color:#00b6f8bd;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}